/*


- Mobile: 375px
- Desktop: 1440px 

colours:

 Primary
- Soft red: hsl(7, 99%, 70%)
- Yellow: hsl(51, 100%, 49%)
- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
- Dark blue (photography text): hsl(198, 62%, 26%)
- Dark moderate cyan (footer): hsl(168, 34%, 41%)

 Neutral
- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%)

 Font
- Font size: 18px

- Family: [Barlow](https://fonts.google.com/specimen/Barlow)
- Weights: 600
- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700, 900

*/
/* --- BODY --- */
body {
    background-color: hsl(0, 0%, 100%);
}

/* --- HEADER --- */

header {
    
}

/* --- HERO --- */

.hero {

}
.hero h1 {

}
.Orange-hero {
    max-width: 1440px;
}

/* --- MAIN --- */





/* --- CLIENT TESTIMONIAL --- */
.client-testimonials {
    text-align: center;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
    display: grid;
    grid-column: 33.33%, 33.33%, 33.33%;
}

.client-testimonials h4 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    color: hsl(210, 4%, 67%);
    margin-bottom: 3rem;
    font-family: 'Fraunces', serif;
    grid-column-start: 2;
    grid-column-end: 2;
}

.ct-emily {
    grid-column-start: 1;
    grid-column-end: 1;
    margin-left: 4rem;
    padding: 1rem;
}
.ct-thomas {
    grid-column-start: 2;
    grid-column-end: 2;
    padding: 1rem;
}
.ct-jennie {
    grid-column-start: 3;
    grid-column-end: 3;
    margin-right: 4rem;
    padding: 1rem;
}

.client-testimonials img {
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
}
.client-name {
    font-weight: bold;
}
.client-job {
    font-family: 'Barlow', sans-serif;

}

/* --- FOUR PIC BOTTOM --- */

.gallery {
    display: grid;
    grid-column: 25%, 25%, 25%, 25%;
    column-gap: 0px;
}

.milk-bottles {
    grid-column-start: 1;
    grid-column-end: 1;
    width: 100%;
}
.orange {
    grid-column-start: 2;
    grid-column-end: 2;
    width: 100%;
}
.ice-cream-cone {
    grid-column-start: 3;
    grid-column-end: 3;
    width: 100%;
}
.sugar-cubes {
    grid-column-start: 4;
    grid-column-end: 4;
    width: 100%;
}


/* --- FOOTER --- */


/* --- ATTRIBUTION --- */
/*
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*/